DOCKER_REGISTRY_URL=docker-repo.mydomain.com:5000

### Prometheus
PROMETHEUS_VERSION=2.21.0
PROMETHEUS_MEM_LIMIT=1536m
PROMETHEUS_MEM_RESERVATION=1024m

### Alertmanager
ALERTMANGER_VERSION=0.21.0
ALERTMANGER_MEM_LIMIT=128m
ALERTMANGER_MEM_RESERVATION=64m

SLACK_USER=alertmanager
SLACK_URL=
SLACK_CHANNEL=

### Grafana     
GRAFANA_VERSION=7.2.0 
GRAFANA_MEM_LIMIT=256m
GRAFANA_MEM_RESERVATION=128m
ADMIN_USER=admin
ADMIN_PASSWORD=

### Node-exporter
NODE_EXPORTER_VERSION=1.0.1
NODE_EXPORTER_MEM_LIMIT=128m 
NODE_EXPORTER_MEM_RESERVATION=64m 

### Cadvisor
CADVISOR_VERSION=0.36.0
CADVISOR_MEM_LIMIT=128m
CADVISOR_MEM_RESERVATION=64m

### Pushgateway
PUSHGATEWAY_VERSION=1.3.0
PUSHGATEWAY_MEM_LIMIT=128m
PUSHGATEWAY_MEM_RESERVATION=64m

### Caddy
CADDY_VERSION=latest
CADDY_MEM_LIMIT=128m
CADDY_MEM_RESERVATION=64m
#ADMIN_PASSWORD=
